.NewFrenmoForm__container {
  height: 400px;
  min-width: 300px;
  width: max-content;
  margin: 50px auto 10px;
}

.NewFrenmoForm__send > *,
.NewFrenmoForm__ask > * {
  margin: 12px;
}

.NewFrenmoForm__send,
.NewFrenmoForm__ask {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: justify;
  height: max-content;
  width: 300px;
  margin: 50px auto 10px;
  padding-bottom: 100px;
}

.NewFrenmoForm__input-container {
  display: flex;
}
