.NewFrenmoForm {
  margin: 20vh 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__Buttons {
    position: fixed;
    top: 10%;
    width: 100%;
    height: 12%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
  }

  &__error {
    color: red;
  }

  &__toolTip {
    color: #188072;
    font-size: 22px;
  }

  &__limitToolTip {
    color: whitesmoke;
    z-index: 20;
    background-color: #188072;
    position: absolute;
    border-radius: 15px;
    min-height: 80px;
    text-align: center;
    padding: 6px;
    width: 260px;
  }
}

.NewFrenmoForm__send,
.NewFrenmoForm__ask {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: justify;
  height: 100vh;
  max-width: 300px;
  margin-bottom: 10vh;
}

.NewFrenmo__input-container {
  display: flex;
  align-items: center;
}
#NewFrenmo__category,
#NewFrenmo__publicity {
  padding: 15px;
  color: #188072;
  font-weight: bold;
}

#NewFrenmo__limit,
#NewFrenmo__receiver,
#NewFrenmo__user {
  width: 100%;
}
#NewFrenmo__expiration-date {
  padding: 15px;
  color: #188072;
  &:focus {
    border: dotted 1px #188072;
    outline: thin dotted;
  }
}

#give-favor,
#ask-favor {
  &:active {
    background-color: #4ac2b9;
  }
  &:focus {
    background-color: #4ac2b9;
    color: #76ffb9;
  }
}
.user-selection {
  display: flex;
  flex-wrap: wrap;
}
.username {
  background-color: #a8ffdc54;
  color: darkslategray;
  margin: 4px 10px;
}
@media (min-width: 768px) {
  .NewFrenmoForm {
    margin: 0 auto;

    &__Buttons {
      margin: 0 auto;
      padding: 0;
      width: 70%;
    }
  }
}
@media (min-width: 1024px) {
  .NewFrenmoForm {
    margin: 20vh auto;
    height: 100vh;

    &__Buttons {
      top: 0%;
      width: 30%;
      height: 20%;
      z-index: 100;
    }
  }
}
