.NewFrenmoForm__container {
  height: 400px;
  min-width: 300px;
  width: max-content;
  margin: 100px auto 10px;
}

.NewFrenmoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: justify;
  height: 400px;
  width: 300px;
  margin: 100px auto 10px;
}

.NewFrenmoForm__input-container {
  display: flex;
}
