.NewFrenmoForm {
  margin: 12vh 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__Buttons {
    display: flex;
    justify-content: center;
  }

  &__error {
    color: red;
  }

  &__toolTip {
    color: #188072;
    font-size: 22px;
  }

  &__limitToolTip {
    color: whitesmoke;
    z-index: 20;
    background-color: #188072;
    position: absolute;
    border-radius: 15px;
    min-height: 80px;
    text-align: center;
    padding: 6px;
    width: 260px;
  }
}

.NewFrenmoForm__send,
.NewFrenmoForm__ask {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: justify;
  height: 70vh;
  max-width: 300px;
}

.NewFrenmo__input-container {
  display: flex;
  align-items: center;
}
#NewFrenmo__category,
#NewFrenmo__publicity {
  padding: 15px;
  border-radius: 15px;
  color: #188072;
  font-weight: bold;
}

#NewFrenmo__limit,
#NewFrenmo__receiver,
#NewFrenmo__user {
  width: 100%;
}
#NewFrenmo__expiration-date {
  padding: 15px;
  border-radius: 15px;
  color: #188072;
  &:focus {
    border: dotted 1px #188072;
    outline: thin dotted;
  }
}

#give-favor,
#ask-favor {
  &:active {
    background-color: #4ac2b9;
  }
  &:focus {
    background-color: #4ac2b9;
    color: #76ffb9;
  }
}
.form-button {
  // width: 300px;
}
@media (min-width: 768px) {
  .NewFrenmoForm {
    margin-left: 30vw;
  }
}
