.Frenmo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #188072;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #188072;

  a {
    color: #188072;
  }
  a:visited {
    color: #188072;
  }
}
.leaf:hover {
  fill: #76ffb9;
}

@media (min-width: 1440px) {
  .Frenmo__Nav-link {
    overflow: hidden;
  }
  .Frenmo {
    margin-left: 50vw;
    width: 50vw;
    padding: 20px 0 0 0;
    overflow: hidden;
  }
}
