.Frenmo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #188072;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #188072;

  a {
    color: #188072;
  }
  a:visited {
    color: #188072;
  }
}
.leaf:hover {
  fill: #76ffb9;
}
