.f-logo {
  font-family: 'Cantarell', sans-serif;
  font-size: 100px;
  height: 90px;
  width: 90px;
  background-color: #0c0063;
  border-radius: 25px 0;
  margin-left: auto;
  margin-bottom: 60px;
  margin-right: auto;
  margin-top: 15vh;
  color: #eff0fd;
  overflow: hidden;

  &::before {
    content: 'f';
    position: absolute;
    z-index: -1;
    color: #0c0063;
  }
}
.LoginPage {
  // padding-top: 10vh;
  margin-bottom: -20vh;
  &__regSuccess {
    // padding-top: 60px;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
