.f-logo {
  font-family: 'Cantarell', sans-serif;
  font-size: 100px;
  height: 90px;
  width: 90px;
  background-color: #0c0063;
  border-radius: 25px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  color: #eff0fd;
  overflow: hidden;

  &::before {
    content: 'f';
    position: absolute;
    z-index: -1;
    color: #0c0063;
  }
}
