.SearchUser {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
@media (min-width: 768px) {
  .SearchUser {
    margin-left: 40%;
    width: 58%;
  }
}
@media (min-width: 1024px) {
  .SearchUser {
    margin-left: 50%;
    width: 30%;
  }
}
