.SearchUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 30vh;
}
@media (min-width: 768px) {
  .SearchUser {
    margin-left: 30vw;
    & > input {
      max-width: 300px;
    }
  }
}
