.pending-friend-container {
  padding: 10px;
}

.pending-friend-user {
  color: #188072;
  display: flex;
  justify-content: center;

  .pending-btn {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .pending-friend-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30vw;
  }
}
