.Friends__container {
  display: flex;
  justify-content: center;
}
.friend {
  margin-top: 12vh;
}
.add-friend {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  max-width: 280px;
  font-size: 16px;
  padding: 60px;
  color: #188072;
  font-weight: bold;
  border-radius: 55px 55px 55px 0;
  background-color: #a8ffdc;
  box-shadow: 5px 5px 5px #188072;
  text-align: center;
}
.header {
  color: #188072;
  text-align: center;
}
@media (min-width: 768px) {
  .friend,
  .FriendsList {
    margin-left: 30vw;
  }
  .add-friend {
    margin-left: 15%;
  }
  .header {
    margin-left: 30vw;
  }
}
