.PublicFeedItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid lightblue;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100vw;
  &:hover {
    background-color: lightblue;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
  }

  &__frenmo {
    display: block;
    text-transform: uppercase;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0c0063;
    font-size: 14px;
    width: 80vw;
    &__notification {
      color: white;
    }
  }
  &__expanded {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-transform: capitalize;
  }

  &__sub-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    &:hover::after {
      font-size: 12px;
      text-align: center;
      width: 120px;
      height: 20px;
      border-radius: 5px;
      padding: 3px;
      position: absolute;
      left: 20px;
      color: #0c0063;
    }
  }
  .receiver {
    &:hover {
      color: white;
    }
    &:hover::after {
      content: "A favor for...";
    }
  }
  .description {
    &:hover {
      color: white;
    }
    &:hover::after {
      content: "A message";
    }
  }

  .issuer {
    &:hover {
      color: white;
    }

    &:hover::after {
      content: "From a good friend";
    }
  }
  .expdate {
    &:hover {
      color: white;
    }

    &:hover::after {
      content: "Time is ticking";
    }
  }
  &__flags {
    display: flex;
  }
  &__notification {
    font-size: 12px;
    padding: 8px;
    margin: 3px;
    border-radius: 15px 0px;
    font-weight: 700;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  & .yellow {
    background-color: #ffd52b83;
    color: #df3e7b;
    font-weight: 900;
  }
  & .pink {
    background-color: #df3e7c4b;
    color: #df3e7b;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  .PublicFeedItem {
    margin-left: 40%;
    width: 58%;
  }
  .PublicFeedItem__sub-titles {
    width: 280px;
    margin-left: 100px;
    justify-content: space-between;

    &:hover::after {
      margin-left: 40%;
    }
  }
}

// feed page should be middle 40% of screen
@media (min-width: 1440px) {
  .PublicFeedItem {
    margin-left: 30%;
    width: 40vw;

    &__sub-titles {
      margin-left: 120px;
      &:hover::after {
        margin-left: 30%;
      }
    }
  }
}
