.RegForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: max-content;

  &__alert {
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
  }
}

.RegForm__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .RegForm {
    height: 30vh;
  }
}
@media (min-width: 1024px) {
  .RegForm {
    height: 20vh;
  }
}
@media (min-width: 1440px) {
  .RegForm {
    height: 2vh;
  }
}
