.RegForm {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: max-content;
  margin-top: 10vh;

  &__alert {
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
    display: relative;
  }
  &__warning {
    font-size: 0.8rem;
    color: red;
    padding-left: 24px;
  }

  &__label-input {
    width: 30vw;
    min-width: 250px;
    max-width: 400px;
    &.confirm {
      height: 60px;
    }
  }
}

.RegForm__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
