.RegForm {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: max-content;
  margin-top: 20vh;

  &__alert {
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
    display: relative;
  }
}

.RegForm__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
