.NewFrenmo__input-container {
  display: flex;
  justify-content: space-around;
}

.issue-search {
  margin: 2px;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 2px;
}

.btn-container {
  display: flex;
  justify-content: center;
}
