.LogForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  &__alert {
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-links {
  font-weight: 800;
  color: #0c0063;
}

.page-links:hover {
  font-weight: 800;
  color: #607296;
}
