.LogForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

  &__alert {
    color: red;
  }
}

.page-links {
  font-weight: 800;
  color: #4ac2b9;
}

.page-links:hover {
  font-weight: 800;
  color: #76ffb9;
}
