.RegForm {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;

  &__alert {
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-links {
  font-weight: 800;
  color: #2334fc;
}

.page-links:hover {
  font-weight: 800;
  color: #00d1ff;
}

@media (min-width: 768px) {
  .RegForm {
    height: 50vh;
    margin-top: 30%;
  }
}
