.NavMenu {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.NavMenu__Header {
  font-family: "Marck Script", cursive;
  color: #a8ffdc;
  display: flex;
}

.NavMenu__list {
  display: none;
}

.logo {
  font-size: 38px;
}

.log-icon {
  color: #a8ffdc;
}

.logout {
  display: none;
}

.login-link {
  color: #188072;
  font-size: 18px;
}
.Header {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: #188072;
  position: fixed;
}

@media (min-width: 1024px) {
  .Header {
    background-color: transparent;
    z-index: 10;
  }
  .log-icon {
    display: none;
  }

  .logout {
    display: block;
    color: #188072;
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .NavMenu__links {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  .logout {
    display: flex;
    font-size: 1.4em;
  }
}
