.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    color: #188072;

    &-logo {
      height: 140px;
    }
  }
  &__subtitle {
    color: #07b387;
  }
  &__container {
    color: #188072;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  &__explanation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  &__sub {
    margin: 20px;
    text-align: center;
    color: #188072;
    font-size: 18px;
  }
  &__btn-container {
    padding: 20px;
  }
  &__footer {
    color: #188072;
    text-align: center;
  }
  .top {
    position: absolute;
    top: 15%;
  }
  .bottom {
    position: absolute;
    top: 30%;
  }
}

.splash-image {
  display: none;
}

@media (min-width: 768px) {
  .Splash {
    width: 50vw;
  }

  .splash-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vw;
  }
}
@media (min-width: 1440px) {
  .Splash {
    width: 60vw;
    overflow: hidden;
    &__sub {
      width: 40vw;
    }
  }
  .splash-image {
    width: 40vw;
  }
}
