.App__container.wrapper {
  height: 100vh;
  padding: 0;
}
.Splash {
  height: max-content;

  padding: 10vh 2vw 0 2vw;
  font-size: 1rem;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cantarell', sans-serif;
  & > h2 {
    @media (min-height: 600px) {
      height: 10vh;
      font-size: 5vh;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
  }

  &__hero {
    padding-top: 2vh;
    margin-top: 0;
    font-size: 3vh;
    line-height: 2;
    &::before {
      text-transform: lowercase;

      padding: 10px;
      background-color: #0c0063;
      color: white;
      text-align: center;
      border-radius: 12px 0;
      margin-right: 20px;
    }
  }

  &__footer {
    padding: 0 2vw 0 2vw;
    font-size: 0.7rem;
  }

  .one {
    &::before {
      content: '1';
    }
  }
  .two {
    &::before {
      content: '2';
    }
  }

  .Splash__container {
    color: #0c0063;
    height: 10vh;
    margin-top: 3vh;
    width: 300px;
    position: relative;
    display: flex;
    border-radius: 75px 0;
    margin-top: 60px;
    @media (min-width: 712) {
      width: 60vw;
    }

    &-sub {
      position: absolute;
      width: 300px;
      height: max-content;
      font-size: 4.2vh;
      @media (min-height: 600px) {
        font-size: 24px;
      }
      @media (min-width: 712px) {
        width: 50vw;
        margin-left: 10vw;
        font-size: 2vw;
      }
      line-height: 1.5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: lighter;
      text-align: center;
      font-family: 'Helvetica Neue',
        sans-serif;
      color: #0c0063;
      overflow: hidden;
    }
  }
}
.splash-btn.btn-container {
  & > a > button {
    font-size: 2vh;
    height: 4vh;
    padding: 1vh;
  }
  width: 100vw;
  height: 5vh;
  padding: 1vh;
}
.splash-image {
  display: none;
}
.splash-btn {
  padding: 70px;
}
@media (min-width: 712px) {
  .Splash {
    width: 50vw;
    align-items: flex-start;
    &__container {
      padding-top: 20vh;
    }

    &__footer {
      position: relative;
      bottom: -20px;
      font-size: 1rem;
      width: 100vw;
      text-align: center;
    }

    &__wrap {
      height: 90vh;
      justify-content: space-evenly;
    }
  }

  .splash-image {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 30vw;
    margin-top: 10vh;
  }
}
