.FrenmoDetail {
  position: fixed;
  padding: 15px;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 55px;
  background-color: #4ac2b9;
  width: 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &__title,
  &__desc {
    display: block;
    text-transform: lowercase;
    background-color: whitesmoke;
    color: #188072;
    border-radius: 25px;
    padding: 10px;
    letter-spacing: 4px;
    max-height: fit-content;
    text-overflow: ellipsis;
  }

  &__publicity {
    &:hover::after {
      content: "Privacy rating";
    }
  }

  &__issuedby {
    &:hover::after {
      content: "From a good friend";
    }
  }
  &__issuedto {
    &:hover::after {
      content: "To whom frenmo is issued";
    }
  }
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: whitesmoke;
  &:hover::after {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 30px;
    padding: 3px;
    position: absolute;
    left: 60px;
  }
}
.back-icon {
  color: whitesmoke;
  font-size: 40px;
}
.void {
  color: rgb(207, 27, 27);
  font-size: 90px;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: 10% 10%;
}

@media (min-width: 768px) {
  .FrenmoDetail {
    margin-left: 15%;
    min-width: 380px;
  }
}

@media (min-width: 1024px) {
  .FrenmoDetail {
    min-width: 420px;
  }
}

@media (min-width: 1440px) {
  .FrenmoDetail {
    margin-left: 25%;
    min-width: 420px;
  }
}
