.friends-list {
  padding: 10px;
}
.frens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  border-bottom: 1px solid #188072;
  color: #188072;
  margin: 10px;
}

.friendship-buttons {
  padding: 15px;
  color: #188072;
}

.friendship-icons {
  font-size: 20px;
}
