/* h1 {
  text-align: center;
  padding: 5px;
  margin-bottom: 12px;
  margin-left: 35px;
  margin-right: 35px;
  
}

nav:after{
  background: rgba(0, 0, 0, 0.8);
}
.nav-bar {
  display: inline-block;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  padding: 5px;
}

.nav-contents { 
  display: inline-block;
  position: fixed;
  padding-bottom: 25px;
  top:0;
  left:0;
  right:0;
  z-index: 10;
}

.burger-icon {
  position: absolute;
  top:0;
  right:0;
  color: black;
  padding: 0px;
  margin: 0px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 30px;
  cursor: pointer;
}

#links {
  background: rgba(0, 0, 0, .8);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
  margin-top: 35px;
  overflow: hidden;
  font-size: 20px;
  padding: 0px;
}

li {
  display: inline;
  text-align: right;
  margin-bottom: 10px;
}

li a {
  padding: 8px;
  color: white;
  text-decoration: none;
}

.null {
  display: none;
} */
