.Header__link {
  color: white;
  display: flex;
  flex-direction: row;
  text-align: right;
}

.NavMenu__Header {
  justify-content: left;
  margin-left: 20px;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: "Cantarell", sans-serif;
}

.NavMenu__list {
  display: none;
}

.logo {
  letter-spacing: -10px;
}

.medblue {
  color: #2334fc;
}

.lightblue {
  color: #00d1ff;
}

.lighterblue {
  color: rgb(123, 231, 255);
}

.lightestblue {
  color: rgb(183, 242, 255);
}

.navigation {
  width: 100%;
}

.log-icon {
  width: 10px;
  height: 40px;
  float: left;
}

.logout,
.login {
  font-size: 1em;
  font-family: "Cantarell", sans-serif;
  position: relative;
  right: -36px;
  bottom: -8px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.55s;
  -webkit-transition: opacity 0.45s;
}

.log-button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 35px;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

.log-button:hover,
.log-button:active,
.Header__logged-in {
  width: 140px;
  color: white;
}

.log-button:hover,
.log-button:active,
.Header__not-logged-in {
  width: 140px;
  color: white;
}

.log-button:hover,
.log-button:active,
.logout,
.login {
  opacity: 1;
}

.log-button {
  text-decoration: none;
  color: white;
}

.Header {
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #0c0063;
}

.menu-icon {
  display: none;
}
.Nav-container {
  display: flex;
}

@media (min-width: 768px) {
  .NavMenu__menu-item {
    padding: 40px;

    &:hover {
      background-color: #7e00f8;
    }
  }

  .menu-icon {
    display: inline;
    color: white;
    align-self: center;
  }

  .NavMenu__list {
    position: absolute;
    padding: 20px;
    height: 90vh;
    justify-content: space-around;
  }

  .NavMenu__list {
    display: flex;
    flex-direction: column;
  }

  .NavMenu__links {
    margin-left: 100px;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 3px;
  }

  #navSlide {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 400ms ease-in;
    width: 38%;
    left: 0px;
    height: 90vh;
    top: 10vh;
    color: white;
    background-color: rgba(12, 0, 99, 0.8);
    padding: 20px;
    font-family: sans-serif;
  }

  #navSlide.slideIn {
    transform: translateX(0%);
  }

  #navSlide.slideOut {
    transform: translateX(-100%);
  }

  .NavMenu__Footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .NavMenu__menu-item {
    padding: 60px;
  }

  #navSlide {
    background-color: rgba(12, 0, 99, 1);
    width: 28%;
  }
}
