.Header__link {
  color: white;
  display: flex;
  flex-direction: row;
  text-align: right;
}

.NavMenu__Header {
  justify-content: left;
  margin-left: 20px;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-style: italic;
  font-family: 'Cantarell', sans-serif;
  color: white;
  z-index: 2;
}

.NavMenu__list {
  display: none;
}

.logo {
  font-size: 70px;
  filter: drop-shadow(
    -16px 16px 9px rgb(35, 48, 55)
  );
}

.navigation {
  width: 100%;
}

.log-icon {
  width: 10px;
  height: 40px;
  float: left;
}

.logout,
.login {
  font-size: 1em;
  font-family: 'Cantarell', sans-serif;
  position: relative;
  right: -36px;
  bottom: -8px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.55s;
  -webkit-transition: opacity 0.45s;
}
.desktop {
  display: none;
}
.log-button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 35px;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

.log-button:hover,
.log-button:active,
.Header__logged-in {
  width: 140px;
  color: white;
}

.log-button:hover,
.log-button:active,
.Header__not-logged-in {
  width: 140px;
  color: white;
}

.log-button:hover,
.log-button:active,
.logout,
.login {
  opacity: 1;
}

.log-button {
  text-decoration: none;
  color: white;
}

.Header {
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #0c0063;
  position: fixed;
  z-index: 10;
}

.menu-icon {
  display: none;
}
.Nav-container {
  display: flex;
}

@media (min-width: 768px) {
  .NavMenu__menu-item {
    padding: 40px;
    width: 100%;
  }

  .menu-icon {
    display: inline;
    color: white;
    align-self: center;
  }

  .NavMenu__list {
    position: absolute;
    padding: 20px;
    height: 90vh;
    justify-content: space-around;
  }

  .NavMenu__list {
    display: flex;
    flex-direction: column;
  }

  .NavMenu__links {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 5px;
    font-weight: 700;
    width: 100%;
    font-family: 'Cantarell', sans-serif;

    &:hover {
      background-color: lightblue;
      color: #0c0063;
    }
  }

  #navSlide {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 400ms ease-in;
    width: 20%;
    left: 0px;
    height: 90vh;
    top: 10vh;
    color: white;
    background-color: #0c0063;
    padding: 20px;
    font-family: sans-serif;
  }

  #navSlide.slideIn {
    transform: translateX(0%);
  }

  #navSlide.slideOut {
    transform: translateX(-100%);
  }

  .NavMenu__Footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .NavMenu__menu-item {
    padding: 60px;
  }
  .NavMenu__links {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  .desktop {
    display: flex;
    font-size: 1.4em;
    font-family: 'Cantarell', sans-serif;
    color: white;
    text-decoration: none;
  }
  .log-icon {
    display: none;
  }
  #navSlide {
    background-color: #0c0063;
    width: 28%;
  }
}

@media (min-width: 1800px) {
  .NavMenu__menu-item {
    padding: 60px;
  }

  #navSlide {
    background-color: #0c0063;
    width: 20%;
  }
}
