.Footer__container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  border: 1px solid grey;
  text-align: center;
}

#icon {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
  font-size: 55px;
}

#icon-gift {
  color: black;
  text-decoration: none;
  font-size: 70px;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}
