.FrenmoListByCat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__label {
    padding: 10px;
  }
}
#FrenmoCat {
  width: 50vw;
  height: 5vh;
  background-color: #a8ffdc;
  color: #188072;
  border-radius: 15px;
  border: 1px solid #188072;
}
.FrenmoListByCat__titles {
  text-transform: capitalize;
}
