.Dashboard {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: scroll;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;

  &__link {
    margin-top: 10vh;
    padding: 0;
  }
  &__link-selected {
    padding: 10px;
    background-color: #0c0063;
    border-radius: 15px 0;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 6px 6px 6px
      #0c0063;
    border-radius: 15px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 6px;
  }

  &__category {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    box-shadow: 5px 5px 5px #0c0063;
    border-radius: 15px 0;
    background: lightblue;
    color: #0c0063;
    font-weight: bold;
    width: 80px;
    height: 80px;
    position: relative;
  }

  &__link:visited {
    text-decoration: none;
  }
}
.fas {
  font-size: 30px;
  color: white;
}
.welcome-message {
  position: relative;
  margin-top: 30vh;

  margin-left: 10vw;
  padding: 60px;
  width: 90vw;
  max-width: 500px;

  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  border-radius: 55px 0;
  background-color: #0c0063;
  box-shadow: 15px 15px 15px lightblue;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  text-align: center;
  &__header {
    border-bottom: 1px solid lightblue;
    padding: 10px;
  }
}
.text {
  color: lightblue;
}
.smaller {
  font-size: 2vh;
}
.small {
  font-size: 2.2vh;
}
.medium {
  font-size: 3vh;
}
.big {
  font-size: 3.2vh;
}
.bigger {
  font-size: 3.8vh;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .Dashboard {
    width: 58vw;
  }
  .welcome-message {
    margin-left: 20vw;
    width: 60vw;
    max-width: 1000px;
  }
}
@media (min-width: 1024px) {
  .welcome-message {
  }
  .Dashboard {
    padding-top: 10vh;
    &__link {
      padding-top: 30px;
      margin-top: 0;
    }
    &::-webkit-scrollbar {
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: #0c0063;
    }
  }
}

@media (min-width: 1440px) {
  .Dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    margin: 0;
    margin-left: 28%;
    background: lightblue;
    position: fixed;

    &::-webkit-scrollbar {
      width: 12px;
      height: 0px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      border: 1px solid #0c0063;
      background-color: lightblue;
    }
    &__link {
      width: 100%;
      background: lightblue;
      color: #0c0063;
    }
    &__link-selected {
      padding: 0px;
      border-radius: 0;
      background-color: #0c0063;
    }
    &__category {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 14px;
      border-radius: 0;
      background: lightblue;
      box-shadow: 0px 0px 0px lightblue;
      color: #0c0063;
      width: 100%;
      padding: 30px;
      margin: 0;
      font-family: 'Cantarell',
        sans-serif;
      letter-spacing: 2px;

      &:hover,
      &:active {
        background-color: #0c0063;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      &:hover {
        padding-top: 60px;
        padding-right: 160px;
      }
    }
  }

  .Dashboard__link-selected {
    border-radius: 0;
  }

  .fas {
    display: none;
  }
}

.welcome-message {
  left: 40%;
}
@media (min-width: 1800px) {
  .Dashboard {
    margin-left: 20%;
    width: 20%;
  }
  .welcome-message {
    padding: 100px;
    width: 500px;
    font-size: 28px;
  }
  .smaller {
    font-size: 28px;
  }
  .small {
    font-size: 30px;
  }
  .medium {
    font-size: 32px;
  }
  .big {
    font-size: 34px;
  }
  .bigger {
    font-size: 36px;
    text-transform: uppercase;
  }
}
