.Dashboard {
  display: flex;
  flex-direction: row;
  width: 90vw;
  overflow: scroll;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;
  position: relative;

  &__link-selected {
    padding: 10px;
    background-color: #0c0063;
    border-radius: 15px 0;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 6px 6px 6px #0c0063;
    border-radius: 15px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00d1ff;
    border-radius: 6px;
  }

  &__category {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 209, 255, 0.6);
    border-radius: 15px 0;
    background: #00d1ff;
    color: #0c0063;
    width: 60px;
    height: 60px;
  }

  &__link:visited {
    text-decoration: none;
  }
}
.fas {
  font-size: 30px;
  color: #e9fbff;
}

.welcome-message {
  position: fixed;
  padding: 60px;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  border-radius: 55px 0;
  background-color: #0c0063;
  min-width: 280px;
  box-shadow: 15px 15px 15px #607296;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: center;

  &__header {
    margin: 10px;
  }
  &__sub-header {
    margin: 10px;
  }
}
@media (min-width: 768px) {
  .Dashboard {
    margin-left: 40%;
    width: 58vw;
  }
  .welcome-message {
    margin-left: 20%;
  }
}
@media (min-width: 1024px) {
  .welcome-message {
    padding: 60px;
  }
  .Dashboard {
    &::-webkit-scrollbar {
      height: 16px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px rgb(255, 212, 43);
    }
  }

  .Dashboard__category {
    padding: 30px;
    margin: 15px;
    font-size: 18px;
    box-shadow: 10px 5px 10px rgba(0, 209, 255, 0.6);
    color: #0c0063;
    width: 100px;
    height: 100px;

    &:hover {
      width: 120px;
      height: 120px;
    }
  }

  &__link:visited {
    text-decoration: none;
  }
}
.fas {
  font-size: 30px;
  color: #e9fbff;
}

@media (min-width: 1440px) {
  .Dashboard {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90vh;
    width: 15%;
    padding: 0;
    margin-top: 0;
    margin-left: 28%;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 16px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
    }
    &__link {
      width: 100%;
      text-align: center;
      background: #00d1ff;
      color: #0c0063;
    }
    &__link-selected {
      padding: 0px;
      border-radius: 0;
    }
    &__category {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      font-size: 18px;
      border-radius: 0;
      background: #00d1ff;
      color: #0c0063;
      width: 100%;
      padding: 30px;
      margin: 0px;

      &:hover {
        background-color: rgba(12, 0, 99, 1);
        color: white;
        width: 100%;
        height: 100%;
        padding: 30px;
        margin: 0px;
      }
    }
  }

  .Dashboard__link-selected {
    border-radius: 0;
  }

  .Dashboard .fas {
    display: none;
  }
}

@media (min-width: 1440px) {
  .Dashboard {
    margin-left: 28%;
  }
}
@media (min-width: 1800px) {
  .Dashboard {
    margin-left: 20%;
  }
  .welcome-message {
    padding: 100px;
  }
}
