.back-to-friends {
  padding: 20px;
  margin: 12vh 0 0;
}

.back-link {
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #188072;

  &:visited {
    color: #188072;
  }
}

.pending-message {
  padding: 10px;
  text-align: center;
  color: red;
}

@media (min-width: 768px) {
  .back-to-friends,
  .pending-message {
    margin-left: 30vw;
  }
}
