.SideNav {
  display: none;
}

@media (min-width: 768px) {
  .SideNav {
    position: fixed;
    width: 30vw;
    height: 90vh;
    top: 10vh;
    background-color: #188072;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .SideMenu {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0;

    &__links {
      color: whitesmoke;
      font-weight: bolder;
      padding: 30px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: rgb(95, 95, 95);
        color: white;
      }
    }
    &__links-selected {
      background-color: rgba(245, 245, 245, 0.5);
      color: rgb(95, 95, 95);
    }
    &__item {
      padding: 0 10px;
    }
  }
}

@media (min-width: 1024px) {
  .SideNav {
    width: 20vw;
    height: 100vh;
    top: 0;
  }
  .SideMenu {
    height: 100vh;
    margin-top: 15vh;
    &__links {
      padding: 30px 10px;
    }
  }
}
@media (min-width: 1440px) {
  .SideNav {
    width: 25vw;
  }
  .SideMenu {
    &__links {
      padding: 30px 10px;
      margin-left: 20%;
    }
  }
}
