.feed-menu {
  text-align: center;
}
.activity-container {
  margin-top: 10px;
}

.activity {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.activity:nth-child(even) {
  border: solid 1px #eb6563;
}


nav {
  margin-top: 15px;
  height: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.activity:nth-child(odd) {
  background-color: #eb6563;
}
