.FeedPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FeedPage__Add-button {
  position: absolute;
  bottom: 10%;
  right: 0%;
  margin: 5px;
  overflow: hidden;
  border-radius: 15px 15px 15px 0;
  &-add {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76ffb9;
  }
}
.FeedPage__Add-link {
  color: #188072;
}

.FeedPage__Buttons {
  display: flex;
  justify-content: center;
}

#feed-btn {
  margin-top: 15vh;
  &:focus {
    background-color: #a8ffdc;
    color: #188072;
  }
  &:hover {
    background-color: #76ffb9;
    color: #4ac2b9;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
