.FeedPage__add {
  position: absolute;
  bottom: 10%;
  right: 0%;
  margin: 5px;
  overflow: hidden;
  border-radius: 15px 0;
}

.FeedPage__Add-button {
  width: 80px;
  height: 80px;
  border-radius: 25px 0;
  margin: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;

  &:hover {
    background-color: #0c0063;
  }
}
.FeedPage__Add-link {
  color: #0c0063;

  &:hover {
    color: white;
  }
}

.FeedPage__Buttons {
  display: flex;
  justify-content: center;
}

.Message_no-frenmos {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#feed-btn:focus {
  background-color: lightblue;
  color: #0c0063;
}
@media (min-width: 768px) {
  .FeedPage__Buttons {
    margin-left: 38%;
  }

  .Message_no-frenmos {
    margin-left: 50%;
    width: 300px;
  }
}

// feed page should be middle 40% of screen
@media (min-width: 1440px) {
  .FeedPage__Buttons {
    margin-left: 30%;
    width: 40%;
  }
}
