/* .loggedout-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3a759e;
  height: 50px;
}

.loggedin-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3b84b8;
  height: 50px;
} */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App__Nav-flex {
  display: flex;
  flex-wrap: wrap;
}
