* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue',
    'Imprima', sans-serif;
  /* -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu",  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo,
    Monaco, Consolas, 'Courier New',
    'Imprima', 'Cantarell',
    'Helvetica Neue', monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
