.CategoryNavPage__list {
  margin: 0;
  padding: 0;
  width: 40vw;
  height: 30vh;
  overflow: scroll;
}

.CategoryNavPage__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border-bottom: 1px solid rgb(186, 229, 243);
  font-size: 14px;
}

.active {
  background-color: rgb(186, 229, 243);
  color: darkblue;
}
.btn-container {
  display: flex;
  flex-direction: row;
  width: 40vw;
}

.CatNavPage__tabs {
  height: 40px;
  width: 80px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: gold;
}

/*Need to fix scroll*/
@media (min-width: 1440px) {
  .CategoryNavPage__list {
    width: 30vw;
    height: 100vh;
  }
  .btn-container {
    width: 30vw;
  }
}
