.Button {
  border-radius: 5px;
  padding: 10px;
  background-color: #a8ffdc54;
  color: darkslategray;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 12px 2px;
  border: 1px solid #188072;
}

.Button:active {
  background-color: #4ac2b9;
  color: darkslategray;
}

.Button:focus {
  outline: thin dotted #76ffb9;
}
.Label {
  color: darkslategray;
}
.Input {
  border: none;
  width: 94%;
  border-bottom: solid 2px #188072;
  padding: 15px;
  letter-spacing: 3px;
  margin: 5px auto;
  &:focus {
    border: dotted 1px #188072;
    outline: thin dotted;
    color: darkslategray;
  }
  &::placeholder {
    color: darkslategray;
    letter-spacing: 1px;
  }
}
.Label {
  color: darkslategray;
  font-weight: bolder;
}
.Textarea {
  border: none;
  border-bottom: solid 2px #188072;
  padding: 15px;
  margin-bottom: 10px;
  &:focus {
    border: dotted 1px #188072;
    outline: thin dotted;
    color: darkslategray;
  }
  &::placeholder {
    font-family: "Montserrat", sans-serif;
    color: darkslategray;
    letter-spacing: 8px;
    text-align: center;
  }
}
.Textarea:focus {
  border: dotted 1px #188072;
  outline: thin dotted;
}

select:focus {
  border: dotted 1px #188072;
  outline: thin dotted;
}
