.Button {
  border-radius: 15px 0px;
  padding: 15px;
  width: auto;
  background-color: #2334fc;
  color: white;
  // margin-left: -5px;
  margin: 12px 2px;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 209, 255, 0.6);
}

.Button:active,
.Button:hover {
  background-color: #00d1ff;
  color: #0c0063;
}

.Button:focus {
  outline: thin dotted;
}
.Label {
  letter-spacing: 2px;
}
.Input {
  border: none;
  border-radius: 25px 0;
  border-bottom: solid 2px #0c0063;
  padding: 15px;
  letter-spacing: 3px;
}

.Input:focus {
  border: dotted 1px #00d1ff;
  outline: thin dotted;
}

.Textarea {
  height: 100px;
}
.Textarea:focus {
  border: dotted 1px #00d1ff;
  outline: thin dotted;
}
