.Button {
  border-radius: 15px 0px;
  padding: 15px;
  width: auto;
  background-color: #0c0063;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 12px 2px;
  border: none;
  box-shadow: 5px 5px 5px lightblue;
  font-family: "Helvetica Neue", sans-serif;
}

.Button:active {
  background-color: lightblue;
  color: #0c0063;
}

.Button:focus {
  outline: thin dotted;
}
.Label {
  letter-spacing: 2px;
  font-family: "Helvetica Neue", sans-serif;
  color: #0c0063;
  text-align: center;
}
.Input {
  border: none;
  border-radius: 15px 0;
  width: 94%;
  border-bottom: solid 2px #0c0063;
  padding: 15px;
  letter-spacing: 3px;
  background-color: lightblue;
  // margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  &::placeholder {
    color: #0c0063;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 8px;
    text-align: center;
  }
}

.Input:focus {
  border: dotted 1px #0c0063;
  outline: thin dotted;
}

.Textarea {
  height: 100px;
  border: none;
  border-radius: 15px 0;
  width: 94%;
  border-bottom: solid 2px #0c0063;
  padding: 15px;
  letter-spacing: 3px;
  background-color: lightblue;
  margin-bottom: 10px;

  &::placeholder {
    color: #0c0063;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 8px;
    text-align: center;
  }
}
.Textarea:focus {
  border: dotted 1px #0c0063;
  outline: thin dotted;
}

select:focus {
  border: dotted 1px #0c0063;
  outline: thin dotted;
}
